<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>听见好声音-by姚海洋</title>
    <link rel="shortcut icon" type="image/x-icon" href="frameImg/title.ico">
    <link rel="stylesheet" href="css/recommend.css">
    <link rel="stylesheet" href="css/xuanfuqiu.css">
    <script src="lib/jquery-3.1.0.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
</head>
<body>

<!--【中间需要变化的部分：使用ui-view呈现】-->
<ui-view></ui-view>

</body>
</html>
<script src="js/urlHref.js"></script>
<script src="angularJS/uiRouter.js"></script>

