sup{
    margin-right: 5px;
    color: #e33232;
}

.nav{
    display: none;
}

.redLine{
    width: 100%;
    height: 4px;
    background: #c70c0c;
    box-shadow: 0 2px 2px #afafaf;
}

.uploadSongContent{
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #fff;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.f-cb:after{
    content: '';
    display: block;
    clear: both;
}

.uploadSongContentWrap{
    padding: 40px;
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.uploadSongTitle{
    height: 40px;
    border-bottom: 2px solid #c20c0c;
}

.uploadSongTitle h3{
    font-size: 24px;
    font-weight: normal;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

.userSettingUl{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: url("../frameImg/table.png") repeat-x;
    background-position: 0 0;
}

.userSettingUl li{
    height: 35px;
    border-right: 1px solid #ccc;
    float: left;
    cursor: pointer;
}

.upLoadSongTitle{
    background: #fff;
}

.userSettingUl li:hover{
    background: #fff;
}

.userSettingUl li>em{
    height: 33px;
    width: 134px;
    padding: 2px 2px 0 0;
    line-height: 33px;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    text-align: center;
}

.userBaseMsg{
    margin-top: 30px;
}

.userBaseMsgLeft{
    width: 360px;
    min-height: 300px;
    margin-right:30px;
    float: left;
}

.userBaseMsgLeft label{
    line-height: 32px;
    text-align: right;
    display: inline-block;
}

.artistDiv,.songTypeDiv,.songLabelDiv,.aWordDes,.songDesDiv{
    margin-top: 20px;
}

.songDesDiv{
    margin-left: 5px;
}

.songNameInput,.artistInput,.aWordInput{
    width: 200px;
    height: 19px;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}

.songTypeDiv select{
    height: 30px;
    margin-right: 10px;
}

#textAreaSongDes:focus{
    outline: none;
}

#textAreaSongDes{
    width:330px;
    height: 135px;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
    resize: none;
}

.songDesDiv p{
    color: #666;
}

.songDesDiv .desLimit{
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    font-family: Constantia,Georgia,Arial, Helvetica, sans-serif;
    color: #e33232;
}

.userBaseMsgRight{
    width: 500px;
    float: left;
}

.userId,.userPhoneHide,.userNickName,.userHead,.mp3NameHide,.lrcNameHide{
    display: none;
}

.songImgNatureDiv,.songMp3Div,.songLrcDiv{
    float: left;
    width: 140px;
    height: 140px;
    position: relative;
}

.songMp3Div,.songLrcDiv{
    margin-left: 40px;
}

.songImgNature,.songMp3DivImg,.songLrcDivImg{
    width: 140px;
    height: 140px;
}

.changeImgCover{
    width: 140px;
    height: 26px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #8e8e8e;
    opacity: 0.8;
}

.uploadSongBtn,.uploadMp3Btn,.uploadLrcBtn{
    width: 140px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    cursor: pointer;
}

.uploadSongBtn:hover{
    text-decoration: underline;
}

.uploadMp3Btn:hover{
    text-decoration: underline;
}

.uploadLrcBtn:hover{
    text-decoration: underline;
}

.uploadSongImg input[type='file']{
    display: none;
}

.uploadSongImgPreview{
    margin-top: 40px;
    display: none;
}

.uploadSongImgPreviewTitle{
    margin-bottom: 10px;
}

.songImgLgSizeDiv{
    width: 180px;
    height: 220px;
    float: left;
}

.songImgLgSize{
    width: 180px;
    height: 180px;
}

.songImgSmSizeDiv{
    width: 180px;
    height: 220px;
    margin-left: 60px;
    float: left;
}

.songImgSmSize{
    width: 40px;
    height: 40px;
    margin-top:140px;
}

.songImgLgSizeDes,.songImgSmSizeDes{
    margin-top: 10px;
    color: #999;
}

.saveSongDiv{
    position: absolute;
    bottom: -20px;
}

.saveSongBtn{
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    background:#2e7ecb;
    color: #fff;
}

.saveSongBtn:hover{
    background:#448fd6;
}

/*add new*/
input[type="checkbox"]{
    vertical-align: middle;
    margin-left: 5px;
}

.bigType,.smallType{
    display: none;
}