<link rel="stylesheet" href="css/applyVip.css">
<div class="redLine">
</div>

<div class="vipContent">
    <div class="vipContentWrap">
        <div class="vipTitle">
            <h3>会员特权与义务</h3>
        </div>
        <div class="vipPower">
            <h4>会员特权</h4>
            <ul class="vipPowerUl">
                <li>
                    <i></i>
                    <span>会员可以免费下载本网站的歌曲</span>
                </li>
                <li>
                    <i></i>
                    <span>会员可以上传自己喜爱的歌曲到网站上</span>
                </li>
                <li>
                    <i></i>
                    <span>会员可以免费下载本网站的歌曲</span>
                </li>
                <li>
                    <i></i>
                    <span>会员可以上传自己喜爱的歌曲到网站上</span>
                </li>
            </ul>
        </div>

        <div class="vipPower">
            <h4>会员义务</h4>
            <ul class="vipPowerUl">
                <li>
                    <i></i>
                    <span>会员可以免费下载本网站的歌曲</span>
                </li>
                <li>
                    <i></i>
                    <span>会员可以上传自己喜爱的歌曲到网站上</span>
                </li>
                <li>
                    <i></i>
                    <span>会员可以免费下载本网站的歌曲</span>
                </li>
                <li>
                    <i></i>
                    <span>会员可以上传自己喜爱的歌曲到网站上</span>
                </li>
            </ul>
        </div>
        <div class="submitApply">
            <input type="checkbox" id="readAndAgreeVip" checked>
            <label for="readAndAgreeVip">我已认真阅读并同意以上条款</label><br>
            <input class="applyVipBtn" type="button" value="注&nbsp;&nbsp;册">
        </div>
    </div>
</div>
<script src="js/applyVip.js"></script>