<link rel="stylesheet" href="css/manageProblem.css">
<div class="redLine">
</div>

<div class="adminCenterContent">
    <div class="adminCenterContentWrap">
        <div class="adminCenterTitle">
            <h3>管理中心</h3>
        </div>
        <ul class="adminSettingList f-cb">
            <li class="memberManageTitle">
                <em>会员管理</em>
            </li>
            <li class="songManageTitle">
                <em>歌曲管理</em>
            </li>
            <li class="artistManageTitle">
                <em>歌手管理</em>
            </li>
            <li class="commentManageTitle">
                <em>评论管理</em>
            </li>
            <li class="problemrManageTitle">
                <em>问题管理</em>
            </li>
            <li class="backMyHomeTitle">
                <em>我的主页</em>
            </li>
        </ul>

        <div class="memberManageTop f-cb">
            <h3>问题管理</h3>
            <h4 class="memberNum" ng-repeat="(key,val) in problemNum">
                <span>共</span>
                <span class="memberNumShow">{{val}}</span>
                <span>条</span>
            </h4>
            <div class="memberManageRight f-cb">
                <i class="memberManageTip" title="提示"></i>
                <div class="tipContent">
                    <p>数据可能会有些延迟，刷新页面即可。</p>
                </div>
            </div>
        </div>

        <div class="memberList">
            <ul>
                <li ng-repeat="v in problemList track by $index">
                    <div class="memberListHead">
                        <span class="memberListHeadNum">{{$index + 1}}.</span>
                    </div>
                    <div class="memberListMsg">
                        <span class="memberListAccount" title="主题">{{v.problemTitle}}</span>
                        <em>-</em>
                        <span class="memberListName" title="分类">{{v.problemType}}</span>
                        <em>-</em>
                        <span class="memberListNick" title="详情" ng-if="v.problemDes == null">无详情描述</span>
                        <span class="memberListNick" title="详情" ng-if="v.problemDes">{{v.problemDes}}</span>
                    </div>
                    <div class="memberOperation">
                        <span class="publicBtn modifyProblemBtn">修改</span>
                        <span class="publicBtn delProblemBtn">删除</span>
                        <span class="publicBtn problemDetailsBtn">详情</span>
                        <span class="publicBtn problemOtherBtn">其他</span>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- upDateContentWrap of end -->
</div>
<script src="js/manageProblem.js"></script>