<link rel="stylesheet" href="css/manageMember.css">
<div class="redLine">
</div>

<div class="adminCenterContent">
    <div class="adminCenterContentWrap">
        <div class="adminCenterTitle">
            <h3>管理中心</h3>
        </div>
        <ul class="adminSettingList f-cb">
            <li class="memberManageTitle">
                <em>会员管理</em>
            </li>
            <li class="songManageTitle">
                <em>歌曲管理</em>
            </li>
            <li class="artistManageTitle">
                <em>歌手管理</em>
            </li>
            <li class="commentManageTitle">
                <em>评论管理</em>
            </li>
            <li class="problemrManageTitle">
                <em>问题管理</em>
            </li>
            <li class="backMyHomeTitle">
                <em>我的主页</em>
            </li>
        </ul>

        <div class="memberManageTop f-cb">
            <h3>会员管理</h3>
            <h4 class="memberNum" ng-repeat="(key,val) in memberNum">
                <span>共</span>
                <span class="memberNumShow">{{val}}</span>
                <span>位</span>
            </h4>
            <div class="memberManageRight f-cb">
                <i class="memberManageTip" title="提示"></i>
                <div class="tipContent">
                    <p>数据可能会有些延迟，刷新页面即可。</p>
                </div>
            </div>
        </div>

        <div class="memberList">
            <ul>
                <li ng-repeat="v in memberList track by $index">
                    <div class="memberListHead">
                        <span class="memberListHeadNum">{{$index + 1}}.</span>
                    </div>
                    <div class="memberListMsg" title="点击进入他的主页" ui-sref="tabs.userDetails({userId:v._id})">
                        <span class="memberListAccount" title="用户帐号">{{v.userPhone}}</span>
                        <em>-</em>
                        <span class="memberListName" title="昵称" ng-if="v.nickname == null">暂无昵称</span>
                        <span class="memberListName" title="昵称" ng-if="v.nickname">{{v.nickname}}</span>
                        <em>-</em>
                        <span class="memberListNick" title="签名" ng-if="v.userSign == null">暂无签名</span>
                        <span class="memberListNick" title="签名" ng-if="v.userSign">{{v.userSign}}</span>
                    </div>
                    <div class="memberOperation" data-userId="{{v._id}}" data-userState="{{v.userState}}">
                        <span class="publicBtn modifyMemberBtn">修改</span>
                        <span class="publicBtn delMemberBtn">删除</span>
                        <span class="publicBtn lockPubBtn unLockBtn" ng-if="v.userState == -1">解封</span>
                        <span class="publicBtn lockPubBtn lockBtn" ng-if="v.userState == 0">禁用</span>
                        <span class="publicBtn resetPwdBtn">重置密码</span>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- upDateContentWrap of end -->
</div>
<script src="js/manageMember.js"></script>