<link rel="stylesheet" href="css/topList.css">
<link rel="stylesheet" href="css/songDetails.css">
<link rel="stylesheet" href="css/comment.css">
<link rel="stylesheet" href="css/sinaFaceAndEffec.css">
<!--网页主体部分-->
<div class="songDetailsContent">
    <div class="topListContentRight">
        <div class="topListRightWrap">
            <!--排行榜头部部分-->
            <div class="topListTopWrap" ng-repeat="v in songDetails">
                <div class="songDetailsInfo" data-beCommentId="{{v._id}}" data-beCommentType="歌曲" data-beCommentor="{{v.songName}}">
                    <div class="songDetailsInfoLeft">
                        <img ng-src="{{v.imgName}}" alt="加载失败">
                    </div>
                    <div class="songDetailsInfoRight">
                        <div class="songDetailsInfoRightWrap">
                            <div class="songDetailsInfoRightTitle">
                                <i class="songFrom"></i>
                                <h2 title="{{v.songName}}__{{v.artist}}">{{v.songName}}__<span class="artistShow">{{v.artist}}</span>
                                </h2>
                            </div>
                            <div class="songDetailsInfoRightUser">
                                <img ng-if="v.userHead == null" ui-sref="tabs.userDetails({userId:v.userId})" src="frameImg/default_avatar.jpg" alt="加载失败">
                                <img ng-if="v.userHead" ui-sref="tabs.userDetails({userId:v.userId})" ng-src="{{v.userHead}}" alt="加载失败">
                                <span class="userName" ui-sref="tabs.userDetails({userId:v.userId})">
                                    <a class="createUser" href="javascript:;" ng-if="v.userNickName == null">匿名用户</a>
                                    <a class="createUser" href="javascript:;" ng-if="v.userNickName">{{v.userNickName}}</a>
                                </span>
                                <span class="createTime">{{v.uploadTime}}&nbsp;&nbsp;创建</span>
                            </div>
                            <div class="topListInfoRightBtn" data-songId="{{v._id}}" data-songName="{{v.songName}}" data-artist="{{v.artist}}" data-songImg="{{v.imgName}}" data-mp3="{{v.mp3File}}">
                                <a class="playBtn" href="javascript:;">
                                    <span><em></em>播放</span>
                                </a>
                                <a class="addPlayList" href="javascript:;" title="添加到播放列表"></a>
                                <a class="collectBtn" href="javascript:;" title="收藏">
                                    <span class="collectNum">({{v.collectNum}})</span>
                                </a>
                                <!--<a class="shareBtn" href="javascript:;" title="分享">-->
                                    <!--<span>({{v.shareNum}})</span>-->
                                <!--</a>-->
                                <a class="downloadBtn" href="{{v.mp3File}}" target="_blank" title="下载">
                                    <span>下载</span>
                                </a>
                                <a class="commentBtn" href="javascript:;" title="评论" ng-repeat="(key,val) in commentNum">
                                    <span>({{val}})</span>
                                </a>
                            </div>
                            <div class="songDetailsInfoRightLabel">
                                <b>标签：</b>
                                <a href="javascript:;" ng-repeat="songLabel in v.label">
                                    <span>{{songLabel}}</span>
                                </a>
                            </div>
                            <p class="songDetailsMsg" ng-if="v.songDes == null">介绍：暂无介绍</p>
                            <p class="songDetailsMsg" ng-if="v.songDes">介绍：{{v.songDes}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--排行榜歌曲列表部分-->
            <div class="topListBodyWrap">
                <div class="topListBodyTitle">
                    <h3>歌曲列表</h3>
                    <span class="songTitle">
                        <span>共</span>
                        <strong class="songNum" ng-repeat="(key,val) in otherSongNum">{{val}}</strong>
                        <span>首歌</span>
                    </span>
                    <!--<div class="playCount">-->
                        <!--播放：<strong>21214214</strong>次-->
                    <!--</div>-->
                </div>
                <!--歌曲列表设计-->
                <div class="topListSong_list">
                    <table>
                        <thead>
                        <tr>
                            <th class="th1"></th>
                            <th class="thTitle">
                                <span>歌曲-标题</span>
                            </th>
                            <th class="thTime">
                                <span>上传时间</span>
                            </th>
                            <th class="thSinger">
                                <span>歌手</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="topOne" ng-repeat="v in songByUpload">
                            <td>
                                <span class="tableSongNth">{{$index + 1}}</span>
                                <i></i>
                            </td>
                            <td class="rank">
                                <div class="topOneBody" data-songId="{{v._id}}" data-songName="{{v.songName}}" data-artist="{{v.artist}}" data-songImg="{{v.imgName}}" data-mp3="{{v.mp3File}}">
                                    <span class="tablePlay"></span>
                                    <div class="topOneInfo">
                                        <span class="tableTxt">
                                            <span class="tableSongName">{{v.songName}}-</span>
                                            <span class="tableSongInfo">{{v.aWord}}</span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tableSongTime">
                                <span class="tableSongDuration">{{v.uploadTime}}</span>
                                <div class="tableSongShow" data-songId="{{v._id}}" data-songName="{{v.songName}}" data-artist="{{v.artist}}" data-songImg="{{v.imgName}}" data-mp3="{{v.mp3File}}">
                                    <a class="tableSongAdd" ui-sref="tabs.songDetails({songId:v._id})" title="详情"></a>
                                    <a class="tableSongFav" href="javascript:;" title="收藏"></a>
                                    <a class="tableSongDown" href="{{v.mp3File}}" target="_blank" title="下载"></a>
                                </div>
                            </td>
                            <td class="tableSinger">
                                <span class="tableSingerName">{{v.artist}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!--歌曲列表设计结束-->
                <!--评论设计-->
                <div class="topListComment">
                    <div class="topListCommentTitle">
                        <h3>相关评论</h3>
                        <span class="commentTitle">
                            <span>共</span>
                            <strong class="commentTotal" ng-repeat="(key,val) in commentNum">{{val}}</strong>
                            <span>条评论</span>
                        </span>
                    </div>
                    <!--评论区-->
                    <div class="commentArea">
                        <div class="commentDesign">
                            <div class="head-face">
                                <img class="commentMyHead" src="frameImg/default_avatar.jpg" alt="加载失败"/>
                            </div>
                            <div class="contentDesign">
                                <div class="cont-box">
                                    <textarea class="text" maxlength="140" placeholder="说点什么吧~"></textarea>
                                </div>
                                <div class="tools-box">
                                    <div class="operator-box-btn">
                                        <span class="face-icon" title="添加表情">☺</span>
                                        <!--<span class="img-icon" title="添加图片">▧</span>-->
                                    </div>
                                    <div class="submit-btn">
                                        <span class="wordLength">140</span>
                                        <input type="button" value="评论"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comTitle">
                            <h3>用户评论</h3>
                        </div>
                        <div id="info-show">
                            <ul>
                                <li class="commentItem" ng-repeat="v in songComment" data-comId="{{v._id}}">
                                    <div class="head-face" ui-sref="tabs.userDetails({userId:v.commentorId})">
                                        <img ng-src="{{v.commentorHead}}" alt="加载失败"/>
                                    </div>
                                    <div class="reply-cont" data-commentorId="{{v.commentorId}}">
                                        <span class="username" ui-sref="tabs.userDetails({userId:v.commentorId})"><span>{{v.commentorNick}}</span><b>：</b></span>
                                        <span class="comment-body" ng-bind-html="v.content | to_trusted"></span>
                                        <div class="resBody"></div>
                                        <div class="comment-footer">
                                            <span class="comment-footer-time">{{v.createTime}}</span>
                                            <span class="comment-footer-res">回复</span>
                                            <span class="comment-footer-line">|</span>
                                            <span class="comment-footer-zanSign">)</span>
                                            <span class="comment-footer-zanNum">{{v.praiseNum}}</span>
                                            <span class="comment-footer-zanSign">(</span>
                                            <span class="comment-footer-zan" title="赞一个" data-whoPraise="{{v.whoPraise}}"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--动态生成评论结束-->
                    </div>
                </div> <!--评论设计结束-->
            </div>
        </div>
    </div><!-- topListContentRight of end -->

    <div class="songDetailsContentLeft">
        <div class="songDetailsLeftWrap">
            <h3>广告</h3>
            <ul>
                <!--ajax加载-->
            </ul>

            <h3>猜你喜欢</h3>
            <ul class="guessList">
                <li ng-repeat="v in guessLike" ui-sref="tabs.songDetails({songId:v._id})">
                    <div class="guessHead">
                        <img ng-src="{{v.imgName}}" alt="加载失败">
                    </div>
                    <div class="guessInfo" title="{{v.aWord}}">
                        <p class="guessTitle">{{v.aWord}}</p>
                        <p class="guessUser">{{v.artist}}</p>
                    </div>
                </li>
            </ul>
        </div> <!-- songDetailsLeftWrap -->
    </div><!-- songDetailsContentLeft of end -->
</div><!-- topListContent of end -->
<!--网页主体部分结束-->

<script src="js/songDetails.js"></script>
<script src="js/commentAddImg.js"></script>
<script src="js/sinaFaceAndEffec.js"></script>
<script src="js/comment.js"></script>
